.profile-page {
    width: 100vw;
    height: 100vh;

    .case-error-widget {
        height: calc(100% - 9%);
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            display: flex;
            flex-direction: row;
            
        }
    }
}