form.sign-up-form{
    width: 40%;
    height: fit-content;
    text-align: center;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: #1E1E1E;
    padding: 1.5em 2em;
    border-radius: 20px;
    z-index: 1;

    div.logo{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        height: 30%;

        img{
            margin: auto;
            height: 100%;
            width: 75%;
        }
    }

    .title{
        color: white;
        display: block;
        font: normal 400 1.7rem 'Poppins';
    }

    .subtitle{
        color: #afaeae;
        display: block;
        font-weight: 400;
        font: normal 400 1rem 'Poppins';
    }

    div.flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    input.form-input{
        border-radius: 4px;
        border: none;
        background-color: #464646;
        color: white;
        height: 8vh;
    }

    input.form-input:focus{
        border: 1px ridge #8B409D;    
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
        filter: invert(0.8) brightness(100%) sepia(100%) saturate(10%) hue-rotate(20deg);
    }

    div.eye-password{
        position: absolute;
        width: 5%;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 29%;

        i{
            display: flex;
            align-items: center;
            color: white;
            z-index: 1;
            cursor: pointer;
        }
    }

    .terms{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        .check{
            width: fit-content;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #757575;
            padding-right: 6px;
        }

        .terms-text{
            width: 90%;
            display: flex;
            justify-content: flex-start;
            font-size: 0.8rem;
            color: white;
        }
    }

    button[type="submit"]{
        width: 100%;
        border: none;
        border-radius: 2px;
        background-color: #8B409D;
        font-weight: 500;
    }

    button[type="submit"]:hover{
        background-color: #803792;
    }
}

@media screen and (max-width: 800px) {
    form.sign-up-form{
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    form.sign-up-form{
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    form.sign-up-form{
        width: 60%;
    }
}