.about-us-page {
  min-height: 100vh;
  max-height: max-content;
  font-family: "Poppins";
  text-align: justify;
  padding-bottom: 2em;

  :is(section) {
    padding: 3em 0 0 0;

    p {
      line-height: 2;
    }
  }
}