/* definindo variáveis para cores */
:root {
  --bs-dark: #1e1e1e;
  --bs-darker: #1a1a1a;
  --bs-lighter: rgb(220, 220, 220);
}

/* sobrescrevendo classes padrão do Bootstrap */
/* a marcação !important dá um peso maior a regra, sobrescrevendo regras prévias */
.bg-dark {
  background-color: var(--bs-dark) !important;
}

.bg-darker {
  background-color: var(--bs-darker) !important;
}

.bg-lighter {
  background-color: var(--bs-lighter) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}
